/*OKOYE*/

body{
    margin:0;
    font-family:'Open Sans', sans-serif;
    overflow-x: hidden;


}
.nav-bg{
    background-color: #09ABC9;
}
.head{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 30px;
}

.img-002{
	width: 100%;
}

.cl-01{
margin-left: 30px;
}

.centered {
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*.img-s{
	margin-left: 40%;
	margin-top: 10%;
}*/

.c-t-1{
	font-weight: bold;
	margin-left: 0px;
	margin-top: 15%;
	font-size: 1em;
	text-align: center;
}

.btn-1{
	font-size: 0.8em;
}

.mycard{
	width: 80%;
}

.c-text{
	text-align: center;
	font-size: 0.8em;
	margin-left: 0px;
}

.deck-2{
	border: 0;
}

.p-0{
	font-size: 17px;
	font-weight: 400;
	font-style: italic;

}

.section2{
	margin-top: 8%;
}


.section2-h{
	text-align: center;
	font-size: 2.5em;
}

.section3{
	margin-top: 5%;
}

.btn-1{
	border-radius: 30px 30px 30px 30px;
}

.section4-h{
	margin-top: 8%;
	font-weight: bold;
}

.h-1{
	font-weight: bold;
	font-size: 1em;
	color: #333333;
}

.index-img{
	width: 100%;
	height: 50px;
}

.h-2{
	font-size: 0.9em;
	color: #555555;
}

.carousel-inner{
	height: 550px;
}

.carousel-caption{
	margin-bottom:200px;
	color: white;
	font-size: 15px;
	margin-left: -50px;
	text-align: justify;
}

.carousel-1{
	font-weight: bold;
	font-size: 45px;
}

.btn-01{
	border-radius: 0;
	background-color: #09ABC9;
}


.blog-h1{
	text-align: center;
	margin-top: 3%;
	font-size: 30px;
	font-weight: bold;
}

.dropdown button{
	width: 100%;
}
.d-div{
	margin-right: 6%;
	margin-top: -2.5%;
	z-index: 1;
}
.dropdown-item{
	border-radius: 0;
}
.card-div{
	margin: 2% 6%; 
	padding: 2%;
}
.pagination{
	background-color: transparent;
	margin: 3% 0%;
}
.nav-tabs{
	border-right: 4px solid #ccc;
}

.form-control{
	border-top: 0px;
	border-radius: 0px;
	border-right: 0px;
	border-left: 0px;
}

.mp-001{
	margin-left: 20%;
}

.mp-003{
	margin-left: -80px;
}

.market{
	height: 500px;
	width: 100%;
}

.c1{
	margin-left: 30px;
}

.mp2{
	width: 80%;
}

.pepper{
	margin-top:-20px;
}

.mp-img{
	width: 100%;
	height: 150px;
	margin-top: 6%;
}

<<<<<<< HEAD
.tinywheel{
	width: 100%;
	height: 30px;
=======
.first{
	display: inline-block;
	margin-left: 20%;
}

.first-1{
	font-weight: bold;
	font-size: 27px;
	text-align: center;
}

.second-1{
	text-align: justify;
	margin-left: 20%;
	margin-right: 24%;
>>>>>>> ccf9b8667d08566d41cde77dc83b52f38f3da07d
}

@media only screen and (max-width: 900px){
    }

@media only screen and (max-width: 600px){
    }
@media only screen and (max-width: 400px){
   .carousel-inner{
   		height: 100%;
   }

   .carousel-caption{
		margin-bottom:50px;
		color: white;
		display: block;
		top: -46%;
		margin-right: 70px;
		/*font-size: 15px;
		text-align: justify;*/
}

.carousel-1{
	font-weight: bold;
	font-size: 3em;
	display: block;
}

.centered {
    position: absolute;
    color: white;
    margin-bottom: 30px;
    font-size: 10px;
    font-weight: bold;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

	.storage-header{
		background-color: #007090;
	}

	.storage-header-text{
		color: #ffffff;
	}

	.storage-search{
		width: 25%;
	}

	.show{
		margin-left: 50%;
	}

	.cd-01{
		margin-bottom: 5%;
	}

	.nav-bg{
    	background-color: #09ABC9;
	}

	.c-t-1{
		font-weight: bold;
		font-size: 1.3em;
		margin-left: 0px;
		margin-top: 15%;
	}

	.c-text{
		padding-bottom: 5%;
		text-align: center;
	}

	.section2-h{
		font-size: 1.5em;
		font-weight: 600;
	}

	.tinywheel{
		width: 100%;
		height: 50px;
	}

}

