/*OKOYE*/

body{
    margin:0;
    font-family: 'Ubuntu', sans-serif;
}

.head{
    text-align: center;
    margin-top: 3%;
}

.img-s{
	margin-left: 40%;
	margin-top: 10%;
}

.c-t-1{
	font-weight: bold;
	text-align: center;
}

.c-text{
	justify-content: center;
}

.deck-2{
	border: 0;
}

.section2{
	margin-top: 4%;
}

.section2-h{
	text-align: center;
}





@media only screen and (max-width: 900px){
    }

@media only screen and (max-width: 600px){
    }
@media only screen and (max-width: 400px){
    }

