/*THELMA*/

body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}

.form-control{
    font-size: 0.8em;
    border-top: none;
    border-left: none;
    border-right: none;
}
.form-control:focus{
  outline: none;
  box-shadow: none;
}

.mr-sm-2{
    font-size: 0.6em;
    color: #BDBDBD;
}

.profile-img{
    width: 27%;
    height: 12%;
    position: absolute;
    background-color: #ffffff;
    margin-top: -30%;
}
.logo-banner img{
    width: 60%;
    height: 60%;
}

.profile-img img{
    width: 50%;
    height: 50%;
}

.profile-imgtext{
    font-size: 0.7em;
}

select{
    border:0px;
    outline:0px;
    font-size: 0.8em;    
}

select:focus{
    box-shadow: 0px;
    outline: none; 
    border: 0px;  
}

.signupheader{
    font-size: 1em;
}

.signupcontent{
    box-shadow:0px 0px 1px #BDBDBD;
    padding: 10%;
}

.terms{
    color: #09ABC9;
}

.login-text{
    font-size: 0.6em;
}

.btn{
    font-size: 0.8em;
}

.btn-default{
    background-color: #f2f2f2;
}

.btn-primary{
    background-color: #09ABC9;
}


.btn-primary:focus {
    background-color: #09ABC9;
}

.btn-primary:hover {
    background-color: #09ABC9;
}

.two-btn{
    display: flex;
}

.login-text{
    font-size: 0.8em;
}

@media only screen and (max-width: 900px){
    }

@media only screen and (max-width: 600px){
    .sm-btn{
        margin-bottom: 5%;
    }
    }
@media only screen and (max-width: 400px){
    
    .form-control{
        font-size: 1em;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .storage-img{
        width: 60%;
        height: 60%;
    }

    .btn{
        font-size: 1em;
    }

    .signupheader{
        font-size: 1em;
    }

    .sm-btn{
        margin-bottom: 5%;
    }
}


/* Storage,funding */


.storage-header{
    background-color: #007090;
}

.storage-header-text{
    color: #ffffff;
}

.storage-search{
    width: 25%;
    
}

.form-inline input{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: #ffffff;
}

.card{
    border: none;
}

.card-header{
	background: #fff;
	border:none;
}

.mt-112{
    margin-top:4.2rem;
}

.accordion_heading{
    font-size:1.3em;
    color: #09ABC9;
}
.accordion_body{
    font-size:1em;
}
.card-row{
    border: 2px solid rgba(105, 103, 115, 0.15);
}

.accordion_sub_heading{
    font-size: 0.7em;
}

.storage-link{
    font-size: 0.7em;
}

.storage-img{
    width: 60%;
    height: 60%;
}

.mycardtitle{
    font-size: 1em;
    font-weight: 700;
    padding:none;
}

.mycardtext{
    color: #333333;
    font-size: 0.8em;
}

.funding-card a{
    color:#333333;
}

.funding-card a:hover{
    color:#09ABC9;
}

a:hover{
    text-decoration: none;
}

@media only screen and (max-width: 400px){
    
    .form-control{
        font-size: 1em;
        border-top: none;
        border-left: none;
        border-right: none;
    }

   .storage-search{
        width: 100%;
        margin: 0% auto;
    }
}

