/*SUMMARY*/
body{
	margin: 5% 10%;
}
.summary-nav{
	margin: 0px;
	/* padding: 0px; */
	padding: 0px 0px 50px 0px;
}
.summary-div{
	/* padding: 5% 2% 5% 10%; */
}
.summary-main-div{
	padding: 5% 10% 5% 0%;
}
.tags{
	font-weight: bold;

}
.summary-header-row{
	border-bottom: 2px solid #080853;
	/* margin: 0% 0%; */
	margin-bottom: 0px
	padding: 0;

	display: flex;
}
.btn-send{
	border-radius: 0;
	background-color: #080853;
	color: #fff;
	border:0.5px solid #fff;
}
.summary-total-row{
	border-top: 2px solid #080853;
	/* margin: 0; */

}
.total{
	color: #080853;
	font-size: 1em;
	font-weight: bold;
}




@media only screen and (max-width:600px){
	.summary-div{
		margin: 0;
		padding: 0;
	}
}
