@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
/*NEDY*/

body{
    margin:0;
    padding: 0;
    font-family: 'poppins';
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;

}

.header-1{
	margin:0;
	padding: 1% 5%;
}
.login-btn-text{
    font-size: 0.7em;

}

.btn-primary{
    background-color: #09ABC9;
    border: none;
    font-weight: 600
}

.btn-primary:focus{
    background-color: #09ABC9;
    border: none;
}

.btn-primary:hover{
    background-color: #09ABC9;
    border: none;
}

.index-text{
    font-size: 0.7em;
    color: #828282;;
}

.navbar{
	padding: 0 0 0 5%;
	font-size: 80%;
	background-color: #09ABC9;
}
.bg-primary1{
	padding: 0 0 0 5%;
	font-size: 80%;
	background-color: #09ABC9;
}
.navbar-brand{
	display: none;
}
.nav-item{
	margin-right: 0%;
}
.nav-link-bold{
	font-weight: 600;

}
.bg-deep-blue{
    background-color: #16A0BB;
    opacity: 0.6;
    color: #fff;
}

.bg-deep-blue:focus{
    background-color: #16A0BB;
    opacity: 0.6;
    color: #fff;
}
.space{
    margin-right: auto;
}
.bg-deep-blue::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}
.form-control-lg {
	height: 50px !important;
	/*width: 220px !important;*/
	font-size: 14px !important;
	font-style: italic !important;
	color: #fff !important;
}
.form-control-lg:focus {
	box-shadow: none;
}
::placeholder {
	/*background-color:red;*/
    color: #fff;
    opacity: 1; /* Firefox */
}
.btn-primary-toggle{
	display: none;
}
.navbar-toggler{
	position: absolute;
	top: 5;
	right: 5%;
	background-color: #09ABC9;
	border-radius: 0;
	border: 0;
}
.navbar-toggler:focus{
	outline: none;
}
.footer-text{
    font-size: 0.9em;
    color: #828282;
}

/*DASHBOARD*/
.date{
	font-size: 80%;
}
.side-text-1{
	font-size: 75%;
	font-style: italic;
}
.f-1{
	font-size: 200%;
}

.f-2{
	font-size: 200%;
}

.f-4{
	font-size: 400%;
}

.wrapper {
    display: flex;
    align-items: stretch;
}
.api{
	font-size: 75% ;
}
.rate{
	font-size: 90% !important;
}
header{
	font-weight: bold;
	font-size: 95% !important;
}
#read-more{
	font-style: normal;
}
.sidebar {
    width:25%;
    max-width: 25%;
    max-height: 100vh;
    /*background-color: #abb1ba;*/
    transition: all 0.3s;
}
.btn-cut:focus{
	outline: none;
	box-shadow: none;
}
.stretch{
	width: 1000px;
	border-bottom: 3px  solid #f2f2f2;
}
.view-active{
	color: blue;
}
/*.img-icon{
	width: 200%;
	height: 300%;
}*/
.btn-sm{
	height: 40%;
	font-weight: 600;
}
.links {
	cursor: pointer;
}



/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";*/
.profile-img{
    width: 100%;
    height: 400%;
    margin-bottom: 20%;
    /*margin-left: 40%;*/
    /*position: absolute;*/
    background-color: #ffffff;
    /*margin-top: -30%;*/
    /*left: 30%;*/
    /*margin-bottom: 30%;*/
}
.contact-row{
	border-bottom: 2px solid #f2f2f2;
	margin: 2% 0%;
	padding: 0%;
}
.op{
	color: #baadb2;
}
.contact-row-active{
	/*margin-top: -30%;*/
	background-color: #f2f2f2;
	color: #000;
	border-bottom: 2px solid #0055ff;
}
.profile-form{
	border-radius: 0;
}
.profile-form:focus{
	box-shadow: none;
	outline: none;

}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    /*align-items: stretch;*/
}

.fa-l{
	font-size: 0.7em;
	opacity: 0.7;
	display: block;
}
.fa-l-d{
	font-size: 0.7em;
	opacity: 0.7;
}
.fa-l-dd{
	font-size: 1em;
	opacity: 0.7;
	text-transform: uppercase;
}

#sidebar.active {
    margin-left: -25%;
}


.navbar {
    /*padding: 15px 10px;*/
    /* background: #fff; */
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


/*CHAT*/
	  .mr-auto {
            /*margin-right: auto;*/
        }

        .ml-auto {
            /*margin-left: auto;*/
        }

        .m-auto {
            /*margin: auto;*/
        }

        .chat-holder {
            width: 100%;
            padding-top: 100px
        }

        .chat-space {
            border: 1px solid rgba(0, 0, 0, 0.15);
            width: 100%;
            border-radius: 2px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        }

        .chat-space-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px 10px 0;
        }

        .user-name {
            font-size: 14px;
            font-weight: bold;
        }

        .acc-icon {
            vertical-align: middle;
            font-weight: bolder;
            color: grey;
            font-size: 20px;
        }

        .chat-box {
            min-height: 250px;
            position: relative;
            padding-bottom: 40px;
        }

        .messages-area {
            max-height: 220px;
            overflow: auto;
            padding: 10px;
        }

        .sent-message {
            display: flex;
            justify-content: flex-end;
            margin: 0 0 4px;
        }

        .received-message {
            display: flex;
            justify-content: flex-start;
            margin: 0 0 4px;
        }

        .message {
            padding: 5px 15px;
            border-radius: 30px;
            line-height: 14px;
            font-size: 12px;
            font-weight: 600;
        }

        .sent {
            background: #9BC5F1;
            color: white;
        }

        .received {
            background: #F2F2F2;
            color: #C4C4C4;
        }

        .message-input-area {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            background: #E0E0E0;
            align-items: center;
            height: 40px;
        }

        .message-input {
            color: #828282;
            width: 85%;
            border: none;
            background: transparent;
            height: 100%;
            padding: 0 10px;
        }

        .message-input:focus {
            border: none;
            box-shadow: none;
            outline: none;
            outline-offset: 0;
        }

        .message-submit {
            margin-left: 10px;
            color: #828282;
            cursor: pointer;
        }

        .show-typing {
            font-weight: 600;
            letter-spacing: 1px;
            font-size: 15px;
        }



/*CHAT*/

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
    /*padding: 20px;*/
    /*min-height: 100vh;*/
    /*overflow-y: scroll;*/
    transition: all 0.3s;
    /*width: 500px;*/
}

.side-list{
    display: flex;
}
.side-list-2{
    display: flex;
}
.user-icon{
    width: 150%;
}
.report-icon{
    width: 55%;
}
.chat-icon{
    width: 120%;
}
.profile-icon{
    width: 65%;
}
.mr-o{
    margin-right: 10%;
}
.link-text{
    /*display: none;*/
    font-size: 0.9em;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {

}





@media only screen and (max-width: 900px){

}

@media only screen and (max-width: 600px){
    .header-1{
		display: none;
	}
	.navbar{
		padding: 5%;
		text-align: center;
	}
	.navbar-brand{
        display: flex;
        /* width: 150%; */
        height: 30px;
        margin-left: 0px;
	}
	.btn-toggle{
		display: flex;
	}
	.btn-primary-toggle{
		background-color: #fff;
		width: 100%;
	}
	.sidebar {
        display: none;
    }

    .navbar-toggler{
        position: absolute;
        top: 5;
        right: 5%;
        border-radius: 3%;
        border-radius: 3px;
        border: 0;
    }
    .space{
        display: none;
    }
    .side-list{
        display: block;
    }
    .side-list-2{
        display: flex;
    }
    .user-icon{
        width: 500%;
        /*margin-right: 5%;*/
    }
    .report-icon{
        width: 200%;
    }
    .chat-icon{
        width: 200%;
    }
    .profile-icon{
        width: 200%;
    }
    .mr-o{
        margin-right: 10%;
        width: 150%;
    }
    .profile-eye{
        width: 150%;
    }
    .link-text{
        display: none;
    }
    .side-list{
        padding: 0 5%;
        margin-bottom:5%;
    }
    .nav-tab{
        padding-top: 5%;
    }
}

@media only screen and (max-width: 400px){
	.header-1{
		display: none;
	}
	.navbar{
		padding: none;
		text-align: center;
	}
	.navbar-brand{
        display: flex;
        /* width: 150%; */
        height: 30px;
        margin-left: 0px;
	}
	.btn-toggle{
		display: flex;
	}
	.btn-primary-toggle{
		background-color: #fff;
		width: 100%;
	}
	.sidebar {
        display: none;
    }

    .navbar-toggler{
        position: absolute;
        top: 5;
        right: 5%;
        border-radius: 3%;
        border: 0;
    }
    .space{
        display: none;
    }
    .side-list{
        display: block;
    }
    .side-list-2{
        display: flex;
    }
    .user-icon{
        width: 500%;
        /*margin-right: 5%;*/
    }
    .report-icon{
        width: 200%;
    }
    .chat-icon{
        width: 200%;
    }
    .profile-icon{
        width: 200%;
    }
    .mr-o{
        margin-right: 10%;
        width: 150%;
    }
    .profile-eye{
        width: 150%;
    }
    .link-text{
        display: none;
    }
    .side-list{
        padding: 0 5%;
        margin-bottom:5%;
    }
    .nav-tab{
        padding-top: 5%;
    }
}
